body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #eef2f3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
}
.top-bar {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#progressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 2.8px;
  background: #007bff;
  z-index: 9999;
  transition: width 0.3s ease;
}

.logo-corner {
  position: absolute;
  right: 30px;
  width: 120px;
}

/* Header */
.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  white-space: nowrap;
}

/* Top-right logo */
.logo-corner {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 120px;
  height: auto;
}

.logo-inside {
  width: 120px;
  margin-bottom: 10px;
}

/* Login Box */
.container {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  color: #333;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

.back-link {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #007bff;
}

/* Mobile */
@media (max-width: 768px) {
  body {
    padding-top: 120px;
  }

  .header {
    font-size: 1.8rem;
    width: 90%;
    white-space: normal;
  }

  .logo-corner {
   display: none;
  }

  .container {
    width: 85%;
    margin-top: -7rem;
    max-width: 320px;
  }
}